@charset "UTF-8";
/*Formatação de imagem com legendas */

figure.foto-legenda {
	position: relative; 
	border: 8px solid white;
	box-shadow: 1px 1px 10px black;
}
figure.foto-legenda img{
	width: 100%;
	height: 100%;
	
}
figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height:100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figcaption p{
	font-size: 15px;
	padding-left: 5px;
}
figure.foto-legenda:hover figcaption{
	opacity:1;
}


/*- CORPO -*/


section#corpo{
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #000000;
	padding-right: 15px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 25pt;
	padding: 15px 0px 15px 20px;
	margin: 10px 0px 10px 0px;
	border: none;
	border-bottom: 1px solid #000000;
	padding-right: 15px;
	text-shadow: 2px 2px 3px #354040;
}

h3{
	font-size: 25px;
	text-shadow: 1px 1px 3px #354040;
}

figure.foto-inimigo img{
	width: 110%;
	height: 100%;
}

aside#lateral {
	display: block;
	width: 355px;
	float: left;
	padding-left: 10px;
	margin-left: 10px;
}
a#site:hover{
	text-decoration:underline;
}